.test {
    margin: 0;
    padding: 0;
    width: 188px;
    height: 188px;
    background-size: cover;
    background-repeat: no-repeat;
}
.testOne {
    background-image: url("../../../images/penguins/Rectangle 1.png");
}

.testTwo {
    background-image: url("../../../images/penguins/Rectangle 2.png");
}

.testThree {
    background-image: url("../../../images/penguins/Rectangle 3.png");
}

.testFour {
    background-image: url("../../../images/penguins/Rectangle 4.png");
}

.testFive {
    background-image: url("../../../images/penguins/Rectangle 5.png");
}

.testSix {
    background-image: url("../../../images/penguins/Rectangle 6.png");
}

.li {
    width: 100%;
    margin: 0 5px;
}

@media (min-width: 1200px) {
    .test {
        width: 268px;
        height: 268px;
    }
    .li {
        margin: 0 10px;
    }
}

