@font-face {
    font-family: "Sztylet";
    src: url("../../public/fonts/SztyletBd.otf");
}

.sectionWrapper {
    position: relative;
    padding-top: 71px;
    padding-left: 130px;
    height: 679px;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/merch-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.sectionTitle {
    margin: 0 0 89px;
    color: #FFFFFF;
    font-family: Sztylet, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
}

.sectionList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.sectionListItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 361px;
    border: 9px solid white;
    background-color: #413696;
}

.sectionListItem:not(:last-child) {
    margin-right: 51px;
}

/*===================== items decor */
.sectionListItem:after {
    position: absolute;
    background-image: url("../../images/symbol.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 45px;
    height: 65px;
}

.sectionListItem:first-child:before {
    content: '';
    position: absolute;
    background-image: url("../../images/snowLeft.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 90px;
    left: -30px;
    top: -30px;
}

/*====================== time bord */
.timeBordWrapper {
    position: absolute;
    padding-top: 85px;
    padding-left: 47px;
    right: 10px;
    top: -55px;
    background-image: url("../../images/time-bord.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 363px;
}

.timeBordWrapper:after {
    content: '';
    position: absolute;
    background-image: url("../../images/snowRight.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 222px;
    height: 75px;
    bottom: 70px;
    right: 130px;
}

.time {
    font-family: Sztylet, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    transform: rotate(9.51deg);
}
