@font-face {
    font-family: "Sztylet";
    src: url("../../public/fonts/SztyletBd.otf");
}

@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

.sectionWrapper {
    background-size: contain;
    padding-top: 115px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentWrapper {
    display: flex;
}

.sectionTitle {
    margin: 0 0 76px;
    font-family: Sztylet, serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #483BA9;
}

.subjectWrapper {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subjectTitle {
    margin-right: 30px;
    font-family: Sztylet, serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.subjectText {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #483BA9;
}

/*================= price*/
.priceWrapper {
    display: flex;
    align-items: center;
}

.eth {
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

/*================= amount */
.amountWrapper {
    display: flex;
    align-items: center;
}

.amountCount {
    width: 30px;
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: #000000;
}

/*=================== buttons */
.sectionButtons {
    display: flex;
}

.amountButton {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("../../images/cursor.svg"), auto;
}

.incrementButton {
    background-image: url("../../images/buttons/increment.png");
    width: 62px;
    height: 62px;
}

.incrementButton:after {
    background: #fff;
    content: "";
    height: 100px;
    left: -70px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
}

.incrementButton:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.decrementButton {
    margin-right: 10px;
    background-image: url("../../images/buttons/decrement.png");
    width: 57px;
    height: 57px;
}

.decrementButton:after {
    background: #fff;
    content: "";
    height: 100px;
    left: -70px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
}

.decrementButton:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* ===================== image */
.getSectionImg {
    position: relative;
    width: 345px;
    height: 345px;
    background-image: url("../../images/common/default-penguin.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.getSectionImg:after {
    position: absolute;
    background-image: url("../../images/common/symbol.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 45px;
    height: 65px;
}

.getSectionImg:before {
    content: '';
    position: absolute;
    background-image: url("../../images/common/snow-04.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 90px;
    right: -15px;
    top: -20px;
}
