@font-face {
    font-family: "Sztylet";
    src: url("../../public/fonts/SztyletBd.otf");
}

@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

.sectionWrapper {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sectionTitle {
    padding: 20px 0 20px 0;
    margin: 0;
    font-family: Sztylet, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #483BA9;
}

.accordionWrapper {
    max-width: 1180px;
}

.titleTypography {
    font-family: Sztylet, serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
}

.contentTypography {
    font-family: Poppins, serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #5A5A5A;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .sectionTitle {
        padding-top: 70px;
        font-size: 35px;
        line-height: 44px;
    }

    .titleTypography {
        font-size: 19px;
        line-height: 24px;
    }

    .contentTypography {
        font-size: 16px;
        line-height: 21px;
    }
    .accordionWrapper {
        max-width: 600px;
    }
}
@media (min-width: 1440px) {
    .sectionWrapper {
        max-height: 800px;
    }
    .accordionWrapper {
        max-width: 1200px;
    }
    .titleTypography {
        font-size: 23px;
        line-height: 64px;
    }
    .contentTypography {
        font-size: 20px;
        line-height: 27px;
    }
}
