@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}
.footerWrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    background-image: url("../../images/bottom-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.smartContract {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}
