@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}
.footerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-image: url("../../images/common/footer-mobile-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.smartContract {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}
@media (min-width: 768px) and (max-width: 1440px){
    .footerWrapper {
        padding-top: 50px;
        height: 350px;
        background-image: url("../../images/common/footer-tablet-bg.png");
        background-size: contain;
        background-position: bottom;
    }
}
@media (min-width: 1440px) {
    .footerWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
        background-image: url("../../images/common/footer-desctop-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }
    .smartContract {
        font-family: Poppins, serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-decoration-line: underline;
        color: #000000;
    }
}
