.arrowUp {
    user-select: none;
    width: 25px;
    height: 13px;
    background-image: url('../../images/buttons/arrow-up.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.arrowDown {
    user-select: none;
    width: 25px;
    height: 13px;
    background-image: url('../../images/buttons/arrow-down.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.accordion {
    user-select: none;
    width: 100%;
    padding: 85px 130px 0 130px;
    background: transparent;
}
.accordion:hover {
    user-select: none;
    background: transparent;
}

.accordion__item {
    user-select: none;
    background: transparent;
}

.accordion__heading {
    user-select: none;
    background: transparent;
}

.accordion__panel {
    user-select: none;
    padding-left: 20px;
    padding-right: 50px;
    background: transparent;
    font-family: Poppins, serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #5A5A5A;
}
.accordion__button {
    user-select: none;
    padding: 0 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Sztylet, serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 64px;
    text-transform: capitalize;
    color: #000000;
}
