
.container {
    width: 100%;
    cursor: url("../images/cursor.svg"),auto;
}

.topBg {
    background-image: url('../images/info-bg.png');
    background-size: cover;
}
.bottomBg {
    background-image: url('../images/get-penguin-bg.png');
    background-size: cover;
}
