
.container {
    min-height: 100vh;
    cursor: url("../images/cursor.svg"),auto;
    background-image: url("../images/background.png");
    background-repeat: repeat-x;
    /*background-repeat: repeat-y;*/
    /*background-size: contain;*/
}
