.sectionWrapper {
    display: flex;
    height: 917px;
    padding: 73px 130px 0 127px;
}

.textWrapper {
    width: 720px;
}

.sectionTitle {
    margin: 0 0 25px;
    font-family: Sztylet, serif;
    font-weight: bold;
    font-size: 102px;
    line-height: 98px;
    color: #483BA9;
}
.sectionTitleWrapper {
    position: relative;
}
.sectionTitleWrapper:after {
    content: '';
    width: 60px;
    height: 50px;
    position: absolute;
    top: 100px;
    right: 250px;
    background-image: url("../../images/common/snow-01.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionText {
    font-family: Poppins, serif;
    margin: 0 0 24px;
    color: #5A5A5A;
}

.boldText {
    margin: 0 0 72px;
    font-weight: 700;
    font-family: Poppins, serif;
}

.subTitle {
    margin: 0;
    font-family: Poppins, serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    color: #483BA9;
}

.subText {
    font-family: Poppins, serif;
    color: #5A5A5A;
    margin-top: 20px;
    margin-bottom: 24px;
}
/*================= image */
.infoSectionImageWrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;
    margin-left: 55px;
}

.infoSectionImage:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -23px;
    background-image: url("../../public/img/snow-top.svg");
    height: 140px;
    width: 450px;
}

.infoSectionImage {
    position: relative;
    width: 410px;
    height: 410px;
    background-image: url("../../public/img/info-pengo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
